:root {
    --purple:  #4F1BBF; 
    --cyan:#4ACAD9;
    --pinkish:#D91ACC;
    --pink:#F294D9;
    --rose:#7950d1;

    
}

* {
    padding:0;
    margin:0;
    text-decoration: none;
    box-sizing: border-box;
}
html, body {
    height:100%;
    width: 100%;
}
.nav-tittle {
    background-size: 75px;
    display: flex;
    color: white;
    font-family: 'Geologica', sans-serif;
    font-size: 70px;
    text-align: center;
    align-items: center;
    justify-content: center;
}



.page-wrapper {
    grid-template-areas: 
    'nt nt nt nt'
    'mw mw mw2 mw2'
    'bl bm br br';
    display:grid;

}

@media (max-width: 1000px) {
    .page-wrapper {
        display:flex;
        flex-direction: column;
    }
}

.page-wrapper > .nav-tittle {
    height: 300px;
}
.page-wrapper > .middle-wrapper {
    height: 400px;
}
.page-wrapper > .bottom-middle {
    height: 300px;
}
.nav-tittle {
    background-color: var(--rose);
    grid-area: nt;
}
.middle-wrapper {
    position: relative;
    background-color: violet;
    display: flex;
    font-family: 'Geologica', sans-serif;
    color: white;
    grid-area: mw;

}
.middle-wrapper2 {
    background-image: url(./Experience.png);
    background-size: 190px;
    background-blend-mode: overlay;
    background-position: center;
    background-color: rgb(133, 71, 133);
    grid-area: mw2;
    position: relative;
}
.bottom-left {
    background-color: yellow;
    grid-area: bl;
}
.bottom-middle {
    background-color: purple;
    grid-area: bm;
}
.bottom-right {
    background-color: black;
    grid-area: br;
}

.women {
    height: auto;
    width: 750px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.grey-line {
    width: 100%;
    background-color: grey;
    height: 20px;
    position: absolute;
    top:45%;
}