:root {
    --purple:  #4F1BBF; 
    --cyan:#4ACAD9;
    --pinkish:#D91ACC;
    --pink:#F294D9;
    --rose:#7950d1;

    
}

* {
    padding:0;
    margin:0;
    text-decoration: none;
    box-sizing: border-box;
}
html, body {
    min-height:100%;
    width: 100%;
}

.page-wrapper {
    grid-template-areas: 
    'nt nt nt nt'
    'mw mw mw2 mw2'
    'bl bm br br';
    display:grid;
    grid-template-columns: repeat(4, 1fr);
}
.nav-bar {
    margin-top: 10px;
    background-color: var(--purple);
    display:flex;
    gap:20px;
    align-items: center;
    width:100%;
    border-radius: 50px;
}
.nav-bar a {
    padding: 5px;
    color: white;
    font-size:30px;
}
.nav-tittle {
    background-size: 75px;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 20px;
    font-family: 'Geologica', sans-serif;

    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: var(--rose);
    grid-area: nt;
    height:300px;
}
.nav-title h1 {
    font-size: 50px;
}
.mobile-toggle {
    position:absolute;
    top:20px;
    right:20px;
    width: 48px;
    height: 48px;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: pink;
    color:white;
    border-radius:50%;
    display:none;
}

.mobile-toggle svg {
    width:30px;
    height:auto;
    display:none
}

.mobile-toggle.active .icon-close {
    display:block;
}
.mobile-toggle:not(.active) .icon-open {
    display:block;
}

@media (max-width: 1000px) {
    .mobile-toggle {
        display:flex;
        z-index: 9999;
        cursor:pointer;
    }
    .nav-bar {
        position:fixed;
        height:100%;
        background-color: rgba(255, 192, 203, 0.652);

        width:50vw;
        border-radius: 0;
        top:0;
        right:0;
        margin:0;
        z-index:999;
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        transform: translateX(50vw);
        transition: transform .5s ease-in-out;
    }

    .nav-bar.open {
        transform: translateX(0);
    }
    .women {
        width: 50%;
    }
    h1 {
        font-size: 60px;
    }
    .page-wrapper {
        grid-template-areas: 
        'nt nt nt nt'
        'mw mw mw mw'
        'mw2 mw2 mw2 mw2'
        'bl bm br br';
        display:grid;
    }
}



.nav-tittle {
    background-color: var(--rose);
    grid-area: nt;
}
.middle-wrapper {
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image:linear-gradient(to bottom right,violet, rgb(255, 0, 119));
    font-family: 'Geologica', sans-serif;
    color: white;
    grid-area: mw;
}
.middle-wrapper2 {
    background-image: url(./Experience.png);
    background-size: 190px;
    background-blend-mode: overlay;
    background-position: center;
    background-color: rgb(133, 71, 133);
    grid-area: mw2;
    position: relative;
}
.bottom-left {
    background-image: url(./green-shirt.png);
    background-size: 200px;
    background-repeat:no-repeat;
    background-position: center;
    background-color: plum;
    grid-area: bl;
}
.bottom-middle {
    background-image: url(./white-shirt.png);
    background-size: 250px;
    background-repeat:no-repeat;
    background-position: center;
    background-color: palevioletred;
    grid-area: bm;
}
.bottom-right {
    background-image:linear-gradient(to bottom right, rgb(255, 0, 119), violet) ;
    grid-area: br;
    height: 100%;
    font-family: 'Geologica', sans-serif;
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.women {
    height: auto;
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
}

.spacer {
    width:50vw;
    height:300px;
}
.btm-spacer {
    width:20vw;
    height:300px;
}